@import "foundation/_variable", "foundation/_mixin";

/* ==========================================================================
   Ordered list
   ========================================================================== */

%mod-ol-common {
	@include space;

	ul, ol {
		@include space(near);
	}
}


/* Default
   ========================================================================== */

.mod-ol {
	@extend %mod-ol-common;

	> li {
		margin-left: 2em;
		list-style-type: decimal;
	}
}


/* Notes
   ========================================================================== */

.mod-ol--notes {
	@extend %mod-ol-common;

	> li {
		position: relative;
		padding-left: 2em;
		zoom: 1;

		> span:first-child {
			position: absolute;
			top: 0;
			left: 0;
			zoom: 1;
		}
	}
}


/* Index
   ========================================================================== */

.mod-ol--index {
	@extend %mod-ol-common;

	> li {
		position: relative;
		padding-left: 2.5em;
		zoom: 1;

		> span:first-child {
			position: absolute;
			top: 0;
			left: 0;
			zoom: 1;
		}
	}
}